#content {
  margin-top: 65%;
  text-align: center;
}

html {
  height: 100%;
}

h1 {
  color: white;
  text-shadow: 0px 4px 3px black;
}

body {
  font-family: 'Sriracha', cursive;
  background: url(https://images.unsplash.com/photo-1546146830-2cca9512c68e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80);
  background-size: cover;
  background-position: center;
}
