h1 {
  text-align: center;
  border-bottom: 2px solid #bdc3c7;
  padding-bottom: 5px;
  margin: 20px;
}

h2, h3, h4, h6 {
  padding-left: 2.5%;
  padding-right: 2.5%;
}

p {
  padding-left: 2.5%;
  padding-right: 2.5%
}

hr {
  width: 96.5%;
}

li {
  padding-left: 5%;
}

.container {
  border: 10px solid #bdc3c7;
}

.summary {
  border-left: 5px solid #bdc3c7;
  padding-left: 5px;
}

.l1 {
  padding-left: 5%;
}

.font-dot {
  font-size: 5px;
  padding-right: 0.5%;
}
